---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import MyInfoHeader from "../components/MyInfoHeader.astro";
const links = [
  {
    name: "Github",
    value: "http://github.com/Rog3rc",
  },
  {
    name: "Twitter",
    value: "http://twitter.com/@Ro0g3rz",
  },
];
---

<Layout title="Portfolio vg.or-dev">
  <main>
    <Header title="Rog3rc" subtitle="Portfolio" />
    <MyInfoHeader img="/me.jpg" links={links} />
  </main>
</Layout>
